<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layouts/default_layout}" 
      layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>사원 정보 조회</title>
</head>
<body>
	<div>
		<div>
			<label>사원번호<input type="text" th:value="${empInfo.employeeId}" readonly></label><!-- 타임리프 사용 >> moder = empInfo -->
		</div>
		<div>
			<label>이름<input type="text" th:value="${empInfo.lastName}" readonly></label>
		</div>
		<div>
			<label>이메일<input type="text" th:value="${empInfo.email}" readonly></label>
		</div>
		<div>
			<label>입사일자<input type="date" th:value="${#dates.format(empInfo.hireDate, 'yyyy-MM-dd')}" readonly></label><!-- 날짜데이터포맷 >> ${#dates.format(date, ' ')} -->
		</div>
		<div>
			<label>업무<input type="text" th:value="${empInfo.jobId}" readonly></label>
		</div>
		<div>
			<label>급여<input type="number" th:value="${empInfo.salary}" readonly></label>
			<span>[[ ${#numbers.formatInteger(empInfo.salary, 3, 'COMMA')} ]]</span><!-- 숫자데이터포맷 >> ${#numbers.formatInteger(값, 콤마자리수, ',')} >> 반환Integer -->
		</div>
	</div>
	<div>
		<button type="button" th:onclick="|location.href='@{/empList}'|">목록</button><!-- 링크 표현식 사용 @{/경로(키=값,키=값)} >> 타임리프를 사용할때 location.href내용이 문자열이 아님. 그래서 파이프라인으로 문자열을 감싸야 함 -->
		<!--<button type="button" th:onclick="location.href='/empList"></button>-->
		<button type="button" th:onclick="|location.href='@{/empUpdate(employeeId=${empInfo.employeeId})}'|">수정</button><!-- 파라미터 넘기기 -->
		<button type="button" th:onclick="|location.href='@{/empDelete(employeeId=${empInfo.employeeId})}'|">삭제</button><!-- 파라미터 넘기기 -->
	</div>
</body>
</html>