<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>부서 등록</title>
</head>
<body>
	<form th:action="@{/deptInsert}" method="post" th:object="${deptVO}"><!-- name, value 속성x --><!-- 타임리프로 객체 생성해서 보내줌 --><!-- 객체 안에 있는 데이터 가져옴 -->
		<div>
			<label>부서번호<input type="text" th:field="*{departmentId}" readonly></label><!-- 타임리프 >> *{ } >> 객체 안 필드 선택 >> 해당 필드에 대한 name,value,필드값 부여 -->
		</div>
		<div>
			<label>부서이름<input type="text" th:field="*{departmentName}"></label>
		</div>
		<div>
			<label>위치<input type="text" th:field="*{location}"></label>
		</div>
		<div>
			<button type="submit">등록</button><!-- 링크 표현식 사용 @{/경로(키=값,키=값)} >> 타임리프를 사용할때 location.href내용이 문자열이 아님. 그래서 파이프라인으로 문자열을 감싸야 함 -->
		</div>
	</form>
</body>
</html>