<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체 부서 조회</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>부서번호</th>
				<th>부서이름</th>
				<th>위치</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="deptInfo, idxStat : ${deptList}"><!-- 타임리프 유일한 태그 >> 돔x --><!-- each >> "변수,stat:배열" -->
				<tr th:id="${idxStat.index}" th:onclick="|location.href='@{/deptInfo(departmentId=${deptInfo.departmentId})}'|"><!-- tr태그에 id값을 인덱스로 차례대로 부여 --><!-- 링크 표현식 사용 @{/경로(키=값,키=값)} >> 타임리프를 사용할때 location.href내용이 문자열이 아님. 그래서 파이프라인으로 문자열을 감싸야 함 -->
					<td th:text="${deptInfo.departmentId}"/><!-- 방법1 -->
					<td>[[ ${deptInfo.departmentName} ]]</td><!-- 방법2 -->
					<td th:text="${deptInfo.location}"/><!-- 날짜데이터포맷 >> ${#dates.format(date, ' ')} -->
				</tr>
			</th:block>
		</tbody>
	</table>	
</body>
</html>